@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Reset authenticator key";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Se si reimposta la chiave dell'autenticatore, l'app Authenticator non funzionerà finché non verrà riconfigurata.</strong>
    </p>
    <p>
        Questo processo disabilita la 2FA finché non si verifica l'app Authenticator.
        Se non si completa la configurazione dell'app Authenticator, si può perdere l'accesso al proprio account.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Reimpostare la chiave dell'authenticator</button>
    </form>
</div>
