@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Conferma reset della password";
}

<h1>@ViewData["Title"]</h1>
<p>
    La password è stata ripristinata. Per favore <a asp-page="./Login">clicca qui per accedere</a>.
</p>
